extends layout

block content
  h1 Todo
  // ToDo入力フォームを作成する
  .form
    form#form
      p
        label(for='text') List Name :
        input#text(type='text',name='text')

      p
        input(type='submit',value='Add')
  // ToDo一覧を表示する
  .list

// jQueryとtodo.jsを読み込む
block scripts
  script(src='http://code.jquery.com/jquery-2.0.0.min.js')
  script(src='javascripts/todo.js')
