doctype html
html
  head
    <h1><a href="http://localhost:3000"> Takが作ったToDoList </a></h1> 
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
